In [1]:
from pathlib import Path
import pandas as pd

data_root = Path("data")
rows = []

for ds_dir in sorted(p for p in data_root.iterdir() if p.is_dir()):
    answer_path = ds_dir / "answer.csv"
    truth_path = ds_dir / "truth.csv"
    if not answer_path.exists() or not truth_path.exists():
        continue

    answer = pd.read_csv(answer_path, header=None, encoding="utf-8-sig")
    pd.read_csv(truth_path, header=None, encoding="utf-8-sig")  # ensure BOM handled

    rows.append({
        "dataset": ds_dir.name,
        "objects": answer.iloc[:, 0].nunique(),
        "sources": answer.iloc[:, 1].nunique(),
        "claims": len(answer),
    })

summary_df = pd.DataFrame(rows).sort_values("dataset").reset_index(drop=True)
summary_df

       dataset  objects  sources  claims
0           CF      300      461    1720
1           UC     5380      153   38592
2       ZC_all     2040       78   21855
3        ZC_in     2040       25   11205
4        ZC_us     2040       74   12190
5      fej2013      576       48    2902
6      labelme     1000       59    2547
7       leaves      384       83    3840
8       ruters     1786       38    5410
9    sentiment     1000       85   20000
10        temp      462       76    4620
11    trec2011    16758       10  167580
12  trec_crowd    19033      762   88385

In [3]:
import numpy as np
import umap
from pathlib import Path

emb = np.load("metrics/trec2011/object_embeddings.npy")
reducer = umap.UMAP(n_components=2, n_neighbors=30, min_dist=0.1, random_state=42)
points = reducer.fit_transform(emb)

/hpc2hdd/home/sguo349/miniconda3/envs/tira/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
2025-10-20 17:22:43.834786: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2025-10-20 17:22:43.835337: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-10-20 17:22:43.888598: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-10-20 17:22:48.865480: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-10-20 17:22:48.871106: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
/hpc2hdd/home/sguo349/miniconda3/envs/tira/lib/python3.10/site-packages/umap/umap_.py:1952: UserWarning: n_jobs value 1 overridden to 1 by setting random_state. Use no seed for parallelism.
  warn(